/* styles.css */

nav {
    background-color: rgb(70, 136, 180);
    padding: 10px;
  }
  nav a {
    color: white;
    display: inline-block;
    padding: 10px;
  }
  h1 {
    color: rgb(47, 15, 230);
  }
  img {
    width: 150px;
    height: auto;
    border: 2px solid rgb(79, 122, 240);
    padding: 10px;
    box-shadow: 0 0 100px gray;
  } 
  p {
    padding: 10px;
  }
  