/* styles.css */
main{
  max-width: 840px;
}
aside{
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 2);
  padding: 1rem;
  background-color: #eee;
  color: #333;
  text-align: center;
}
aside img{
  width: 200px;
  height: auto;
}
main img {
  width: 150px;
  height: auto;
}
p { padding: 0;}

nav {
    background-color: rgb(70, 136, 180);
    padding: 10px;
  }
  nav a {
    color: white;
    display: inline-block;
    padding: 10px;
  }
  h1 {
    color: rgb(47, 15, 230);
  }
  img {
    width: 150px;
    height: auto;
    border: 2px solid rgb(79, 122, 240);
    padding: 10px;
    box-shadow: 0 0 100px gray;
  } 
  p {
    padding: 10px;
  }
  footer{
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
  }